{% extends 'base.html' %}


{% block content %}
<div class="container container-fluid pt-3">
    <div class="row">
        <div class="card">
            <div class="card-header">My Borrowed Books</div>
            <div class="card-body">
                {% if bookinstance_list %}
                    <ul>
                        {% for bookinst in bookinstance_list  %}
                          <li class=" {% if bookinstance.is_overdue %} text-danger{% endif %}" >
                            <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})  
                                  
                          </li>
                        {% endfor %}
                    </ul>
                    {% else  %}
                        <p>There are no books borrowed</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}